@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");

@font-face {
    font-family: "GothamBook";
    src: url("../assets/fonts/GothamBook.eot");
    src: local("GothamBook"), url("../assets/fonts/GothamBook.woff") format("woff"),
        url("../assets/fonts/gothambook-webfont.woff2") format("woff2"),
        url("../assets/fonts/GothamBook.ttf") format("truetype");
}
@font-face {
    font-family: "GothamBold";
    src: url("../assets/fonts/gothambold1.eot");
    src: local("GothamBold"), url("../assets/fonts/gothambold1.woff") format("woff"),
        url("../assets/fonts/gothambold1.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/GothamRegular.eot");
    src: local("GothamRegular"), url("../assets/fonts/gothamregular-webfont.woff") format("woff"),
        url('../assets/fonts/gothamregular-webfont.woff2') format('woff2'),
        url("../assets/fonts/GothamRegular.ttf") format("truetype");
}

// Fonts
$got-book: "GothamBook", sans-serif;
$got-bold: "GothamBold", sans-serif;
$got-medium: "Gotham", sans-serif;
$text-font: "Open Sans", sans-serif;

// Colors
$N0: #ffffff;
$N00: #000000;
$text-color: #4b5562;
$text-color--title--btn--contact: #2c4058;
$text-color--contact-input-inactive: rgba(75, 85, 98, 0.5);
$text-color--date: #55b7ff;
$text-color--contact-icons: #7e5aff;

$bg-color--news-section: linear-gradient(to top, #3c7fd4, #24ccfa);

@function px_to_rem($target, $context: $base-size) {
    @if $target==0 {
        @return 0;
    }

    @return $target / $context + 0rem;
}

$base-size: 16px;

/* ---FONT SIZE--- */
$H90: px_to_rem(90px);
$H80: px_to_rem(80px);
$H70: px_to_rem(70px);
$H60: px_to_rem(60px);
$H55: px_to_rem(55px);
$H50: px_to_rem(50px);
$H48: px_to_rem(48px);
$H45: px_to_rem(45px);
$H44: px_to_rem(44px);
$H40: px_to_rem(40px);
$H36: px_to_rem(36px);
$H35: px_to_rem(35px);
$H33: px_to_rem(33px);
$H32: px_to_rem(32px);
$H30: px_to_rem(30px);
$H28: px_to_rem(28px);
$H26: px_to_rem(26px);
$H24: px_to_rem(24px);
$H22: px_to_rem(22px);
$H21: px_to_rem(21px);
$H20: px_to_rem(20px);
$H19: px_to_rem(19px);
$H18: px_to_rem(18px);
$H17: px_to_rem(17px);
$H16: px_to_rem(16px);
$H15: px_to_rem(15px);
$H14: px_to_rem(14px);
$H13: px_to_rem(13px);
$H12: px_to_rem(12px);
$H11: px_to_rem(11px);
$H10: px_to_rem(10px);
$H9: px_to_rem(9px);
