.what-we-do {
    background-color: $N0;
    padding: 100px 0 140px;
    &__container {
        margin-bottom: 210px;
        &--inverse {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 120px;
        text-align: center;
    }

    &__content-wrapper {
        @include flex-row;
        box-shadow: -800px -82px 0px 0px $text-color--date;
        &--inverse {
            flex-direction: row-reverse;
            box-shadow: 800px -82px 0px 0px $text-color--contact-icons;
        }
    }

    &__img {
        flex: 0 1 55%;
        max-width: 55%;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__text-wrapper {
        flex: 0 1 45%;
        max-width: 45%;
        padding: 60px 0 60px 70px;
        &--reverse {
            padding: 60px 70px 0 0;
        }
    }

    &__subtitle {
        font-family: $got-book;
        text-transform: uppercase;
        @include text($H22, 400, $text-color--title--btn--contact);
        margin-bottom: 10px;
    }

    &__caption {
        font-family: $got-bold;
        text-transform: uppercase;
        @include text($H44, 700, $text-color--title--btn--contact);
        margin-bottom: 4px;
    }

    &__text {
        margin-bottom: 36px;
    }

    // &__link {}

    &__location {
        text-transform: capitalize;
        font-family: $text-font;
        font-style: italic;
        @include text($H18, 400, $text-color--title--btn--contact)
    }
}
